.eventLi {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
  font-family: sans-serif;
  cursor: pointer;
  /* background-color: #f6fbfff7; */
  background-color: aliceblue;
  padding: 15px 25px;
  border-radius: 10px
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.eventLi>div>h3 {
  font-weight: 400;
  margin-bottom: 15px;
  /* border-bottom: 2px solid; */
  width: fit-content;
}

.manageEventsEdit {
  color: #152d88;
  text-decoration: none;
  font-size: large;
}

.manageEventsEdit:hover {
  color: #152d88;
  text-decoration: underline;
}

.manageEventsSpan {
  margin-left: 5px;
  line-height: initial;
}

.manageEventsDelete {
  margin-left: 5px;
  color: #152d88;
  text-decoration: none;
  font-size: large;
}

.manageEventsDelete:hover {
  color: #152d88;
  text-decoration: underline;
}

.eventLi>div>h4 {
  color: #fe7162;
  font-size: small;
  font-weight: 400;
}

.eventLi>div>h1 {
  font-family: 'DM Serif Display', serif;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 5px 0;
}

.eventLi>div>h5 {
  color: #162d88;
  font-size: smaller;
}

.eventLi>div>p {
  margin: 10px 0 0 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}