.manageEventsPage {
  background-color: #fafdff;
  padding: 28px 0 50px 0;
}

.manageEventsPage>h1 {
  margin-left: 50px;
  /* padding-top: 25px; */
  font-family: "DM Serif Display", serif;
  font-size: xx-large;
  margin-bottom: 15px;
}

.manageEventsPage>p {
  margin: 0 50px 15px;
  font-family: sans-serif;
  font-weight: 400;
}

.manageEventsUl {
  list-style: none;
  padding: 0;
  margin: 0 50px;
}

.manageEventsUl>h1 {
  color: black;
  padding-top: 15px;
  font-size: x-large;
  border-bottom: 2px solid lightgrey;
  padding-bottom: 10px;
  font-family: sans-serif;
  font-weight: 400;
}

.noUserEventsMessage {
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  color: #fe7162;
  text-shadow: 1px 1px 1px #94959c;
  letter-spacing: 1px;
  margin-top: 5px;
  font-family: sans-serif;
  font-weight: 500;
}

.svg {
  display: flex;
  margin: 0 auto;
  width: 15%;
  height: fit-content;
}