.headerComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: #152d88;
  box-shadow: 0px 0px 5px 0px #222;
  position: sticky;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.headerTitle {
  margin-left: 20px;
  color: white;
  font-family: 'DM Serif Display', serif;
  border: 10px solid white;
  border-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%) 1;
  padding: 10px 20px;
  font-size: x-large;
  letter-spacing: 1px;
  cursor: pointer;
}

.linksContainer {
  color: white;
  margin-left: 10px;
}

.headerLinks {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 100;
  /* font-size: large; */
  margin: 0 5px;
}

.headerLinks:hover {
  text-decoration: underline;
}

.selectedLink {
  text-decoration: underline;
}