.landingEventsSection{
  padding: 50px 0;
  background-color: #fafdff;
  /* background-image: url(paper-airplanes.png);
  background-size: 1100px;
  background-repeat: no-repeat;
  background-position: 100px; */
}

.landingEventsSection > h1 {
  margin: 0 0 15px 100px;
  font-family: 'DM Serif Display', serif;
  font-size: xx-large;
  letter-spacing: 1px;
}

.landingEventsSection > p {
  margin: 0 100px;
  font-family: sans-serif;
  font-weight: 400;
  margin-bottom: 15px;
}

.landingUl {
  list-style: none;
  padding: 0;
  margin: 0 100px;
}